DEBUG=1
SECRET_KEY=my-secret-dev-key

ALLOWED_HOSTS=localhost,127.0.0.1
CORS_ALLOWED_ORIGINS=http://localhost:3000,http://127.0.0.1:3000,http://localhost:3001,http://127.0.0.1:3001
CSRF_TRUSTED_ORIGINS=http://localhost:3000,http://127.0.0.1:3000,http://localhost:3001,http://127.0.0.1:3001

# Database (PostgreSQL)
# DB_ENGINE=django.db.backends.postgresql
# DB_NAME=myrestaurant
# DB_USER=postgres
# DB_PASSWORD=postgres
# DB_HOST=127.0.0.1
# DB_PORT=5432

# DATABASE_URL='postgresql://neondb_owner:npg_Pr8dHkR4YapC@ep-polished-wildflower-a1o7vped-pooler.ap-southeast-1.aws.neon.tech/neondb?sslmode=require&channel_binding=require'
# DATABASE_URL='postgresql://postgres:Pr8dHkR4YapC@ep@db.bolkgxpvttnwkvdgejvc.supabase.co:5432/postgres'
DATABASE_URL=postgresql://postgres:Pr8dHkR4YapC@ep@db.bolkgxpvttnwkvdgejvc.supabase.co:5432/postgres

WHATSAPP_ENABLED=true
WHATSAPP_API_BASE=https://graph.facebook.com
WHATSAPP_API_VERSION=v21.0
WHATSAPP_PHONE_NUMBER_ID=988064557731943
WHATSAPP_ACCESS_TOKEN=EAAUfm1J5GJUBQZCZAoDjDRLaN2Fsx07TZCra5e3FAqYTwagUKbXVhLP7eDdKTRKF5hT2XfHsYz3jggh9vfCFxE1tEq54X99rcG2WdGVpfSy1dHwZClW6g5TFr69xZA9o0KzgHb6juX4VZC58jCZCaF7mcbBZCp0W6NPGUKtUSC1ZAIbjwR2waAQSgquFNsoZCsRTAHkZAROUneZBgRBe4TFtYcJvB40Nvo2iZBfI1B7If7ZAdzZA4DBY5PZBQLfDhVYrtzHThZCZAmmBvymNg5Bue1p2ITU9LeEwzt
WHATSAPP_DEFAULT_COUNTRY_CODE=94

# Email (purchase order)
EMAIL_BACKEND=django.core.mail.backends.smtp.EmailBackend
EMAIL_HOST=smtp.gmail.com
EMAIL_PORT=587
EMAIL_USE_TLS=true
EMAIL_USE_SSL=false
EMAIL_HOST_USER=hi.foresto@gmail.com
EMAIL_HOST_PASSWORD=omaw wkxe mabw xwgk
DEFAULT_FROM_EMAIL=hi.foresto@gmail.com
PURCHASE_EMAIL_FROM=hi.foresto@gmail.com
PURCHASE_AUTO_EMAIL_ON_CREATE=true
# SSL_CERT_FILE=